
h1 {
  text-align: center;
}
ul {
  /* user-agent styles */
  display: block;
  list-style-type: disc;
  margin-block-end: 4em;
  padding-inline-start: 40px;
}



body {
    text-align: left;
    font-family: 'Arial';
    background: azure;
    color: purple;
}